@charset "utf-8";
/* CSS Document */
/* CSS base litao coder */
/* ============================> base <============================ */
*{margin:0px; padding:0px; list-style:none; text-decoration:none; outline:none; font-size:12px; font-family:"微软雅黑", "Microsoft YaHei";}
.w960px{width:1003px; height:auto; margin:0 auto; background:#fff;}
.colorOg{color:#ffa200;}
.colorRed{color:#f00;}
.colorGreen{color:#68b100;}
a{cursor:pointer; color:#666666;}
a:hover{color:#51abff}

img{border:0px;}
.pot_r{position:relative;}
.pot_a{position:absolute;}
.clear{clear:both;}

.curvyCorners_2{-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.curvyCorners_3{-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.curvyCorners_5{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.curvyCorners_t5{-moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px;}


*html{background-image:url(about:blank);background-attachment:fixed;}/*低版本浏览器防止抖动的，必须有*/
#tbox{width:30px; height:200px; float:right; position:fixed; display: none;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:50px;
}/*这个只能改宽高其他的不要修改，需要滚动的内容都要放在这个d*/

/* ============================> topBox <============================ */
.topBox{width:100%; height:40px;z-index:1;background-color: #808080;line-height:40px;}
.topBox a{width:auto; height:40px; line-height:40px; font-size:13px; color:#eee; margin:0px 5px; display:inline-block; padding-left:20px;float:left}
.topBox a:hover{color:#fd903d;}
.topBox span{color:#fff;font-size:13px;float:left}
.topBox a.topIcon_1{background-position:0px 4px;}
.topBox a.topIcon_2{background-position:-87px 4px;}
.topBox a.topIcon_3{background-position:-174px 4px;}
.topBox a.topIcon_4{background-position:-263px 3px;}
.topBox a.topIcon_5{background-position:-347px 3px;}
.topBox a.textSzi{font-size:14px; font-weight:bold; color:#ffa200; background:none; padding:0px;}
.df_loginNav{width:auto; height:13px; line-height:22px;  font-size:14px; font-weight:bold; padding:0px 5px 0px 20px; display:inline-block; margin:0px 5px; cursor:pointer; bottom:-1px;}
.loginNavCkA{color:#51abff;}
.loginNavCkB{color:#ffffff; background:#51abff;}
.loginNavCkA i{width:16px; height:16px; display:inline-block; background:url(/resources/images/baseIcon.png) no-repeat 2px -20px; position:absolute; left:3px; top:0px;}
.loginNavCkB i{width:16px; height:16px; display:inline-block; background:url(/resources/images/baseIcon.png) no-repeat -12px -20px; position:absolute; left:3px; top:0px;}
.topLeftMenu,.topRightMenu{width:auto; height:40px; float:left;}
.topLeftMenu{float:left;}
.topRightMenu{float:right;}
.df_loginBox{z-index: 999;width:260px; height:134px; padding:5px; background:url(/resources/images/df_loginHover.png) no-repeat; position:absolute; right:-115px; top:60px; cursor:default;}
.df_loginBox p{line-height:20px; width:100%; margin-top:12px; display:block; font-size:12px; color:#666666; font-weight:normal;}
.df_loginBox p a{background:none; padding:0px; color:#084eae;}
.df_loginBox label{width:65px; height:24px; line-height:24px; font-size:12px; text-align:right; color:#666666; display:inline-block;}
input.df_loginTx{width:160px; height:24px; line-height:24px; border:1px solid #9a9a9a;}
.df_loginBnt{width:67px; height:28px; text-align:center; color:#FFF; font-size:14px; background:url(/resources/images/df_loginBntbg.jpg) no-repeat; border:0px; display:inline-block; cursor:pointer; margin-left:10px;}

/* ============================> head <============================ */
.head{width:100%; height:110px; background-color:#fff; z-index:10;}
.logo{width: 398px;
height: 101px;
overflow: hidden;
float: left;
margin: 0px 0 0 0;}
.headCont{width:300px; height:90px; float:right; text-align:right;}
.headTelBox{width:160px; height:40px; padding-left:50px; background:url(/resources/images/headTelBg_1.png) no-repeat left top; display:block; margin-top:10px; text-align:left; color:#7aa328; float:right;}
.headTelBox h3{width:100%; height:24px; line-height:24px; font-size:20px; font-weight:normal;}
.headTelBox label{width:100%; height:16px; line-height:16px; font-size:12px; font-weight:normal;}
/* =================> nav <=============== */
.navBox{width:600px; height:45px;margin:45px auto 0 auto; position:relative;z-index: 999}
.navBox span{width:85px; height:45px; padding:0px; margin:0 6px; text-align:center; display:inline-block; position:relative;float:left}
.navBox a{width:85px; height:45px; line-height:22px; padding:0px; text-align:center; font-size:16px; color:#333; display:inline-block; overflow:hidden;z-index: 999}
.navBox a:hover{/* background:url(/resources/images/navHoverBg.png) no-repeat center bottom;  */color:#333;}
/* .navBox a.navLink{background:url(/resources/images/navHoverBg.png) no-repeat center bottom; color:#378cdc;} */
.navBox a.navHover{/* background:url(/resources/images/navHoverBg.png) no-repeat center bottom; */ color:#333;}
.navBox span div{border-top: 1px solid #ddd;width:120px; height:auto; position:absolute; top:45px; left:-18px; text-align:center; /* background:url(/resources/images/navHoverListBg.png); */ display:none; background-color:#fff;z-index:999}
.navBox span div a{width:118px; height:40px; line-height:40px; font-size:12px; color:#333; display:block;border:1px solid #ddd;border-top:none}
/* .navBox span div a:first-child{border:1px solid #ddd;} */
.navBox span div a:hover{background:#dedede; color:#cc6600;}
.navBox span div a.navHoverListLink{background:#51abff; color:#ffffff;}


/* =================> 产品 <=============== */
.df_projectList{margin-top:30px;}
.df_projectList,.projectListUl{width:100%; height:auto;}
.projectListUl li{width:232px; height:auto; padding-bottom:20px; position:relative; float:left; margin-left:10px; display:inline;}
.projectListUl li a{position:absolute; width:auto; height:20px; line-height:20px; bottom:0px; right:0px; color:#a7a7a7;}
.projectListUl li a:hover{color:#ff8400;}
.projectListUl li .prjListInfo{width:100%; height:auto;}
.prjListInfo span{width:85px; height:85px; float:left; display:inline-block; background:url(/resources/images/projectItem.png) no-repeat;}
.prjListInfo span.prjListItem_1{background-position:0px 5px;}
.prjListInfo span.prjListItem_2{background-position:0px -125px;}
.prjListInfo span.prjListItem_3{background-position:-100px 5px;}
.prjListInfo span.prjListItem_4{background-position:-100px -125px;}
.prjListTx{width:145px; float:right; height:auto;}
.prjListTx h3{width:100%; line-height:1.5; font-size:16px; color:#3e3e3e;}
.prjListTx p{width:100%; line-height:1.5; color:#a7a7a7;}


/* =================> footer <=============== */
.footer{width:100%; height:auto; background:#555555; margin-top:30px; color:#a0a0a0;}
.webLinkBox{width:100%; height:50px; border-bottom:1px solid #454545;}
.webLinks{width:740px; line-height:30px; margin-top:10px; float:left;}
.weibeBox{width:220px; height:50px; line-height:50px; float:right; overflow:hidden;}
.weibeBox a{width:35px; height:35px; display:inline-block; background:url(/resources/images/baseIcon.png) no-repeat -495px 0px; border-radius: 50%;}
.weibeBox a:hover{background-position:-540px  0px;}
.weibeBox a img{width:18px; height:16px; padding:8px 9px; vertical-align:middle;}
.webLinkBox span{width:auto; display:inline-block; font-size:14px;}
.webLinkBox a,.footerRight div a{color:#a0a0a0; width:auto; line-height:1.8; display:inline-block; margin:0px 8px;}
.webLinkBox a:hover,.footerRight div a:hover{color:#49c5ff;}
.webLinkBox a{font-size:14px;}
.footerCont{width:100%; height:auto; border-top:1px solid #666666;}
.footerLeft{width:150px; height:auto; float:left; border-right:1px solid #454545; overflow:hidden;}
.footerRight{width:808px; height:auto; float:left; border-left:1px solid #666666; overflow:hidden;}
.footerRight div{width:788px; height:auto; line-height:1.5; padding:10px; border-top:1px solid #666666; border-bottom:1px solid #454545;}
.footerRight div dl{width:80px; height:110px; text-align:left; margin-left:80px; float:left; display:inline;}
.footerRight div dl dt{width:100%; height:25px; line-height:25px; font-size:14px; color:#ffffff; position:relative;}
.footerRight div dl dt i{width:25px; height:25px; display:inline-block; left:-32px; top:0px; vertical-align:middle; margin-right:7px; background:url(/resources/images/baseIcon.png) no-repeat; position:absolute;}
.footerRight div dl dt i.footerIcon_1{background-position:0px -48px;}
.footerRight div dl dt i.footerIcon_2{background-position:0px -85px;}
.footerRight div dl dt i.footerIcon_3{background-position:0px -123px;}
.footerRight div dl dt i.footerIcon_4{background-position:0px -163px;}
.footerRight div dd{width:100%; height:auto;}
.footerRight div dd a{width:100%; line-height:1.5; display:inline-block; color:#a0a0a0; margin:0px;}
.footerRight div dd a:hover{color:#49c5ff;}
.uifooterlink{text-align:center;}
.uifooterlink a{height:50px; display:inline-block; margin:0px 5px; background:url(/resources/images/footer-icons.png) no-repeat;}
.uifooterlink a.uifooterlinkIcon_1{width:96px; background-position:0px 5px;}
.uifooterlink a.uifooterlinkIcon_1:hover{background-position:0px -45px;}
.uifooterlink a.uifooterlinkIcon_2{width:65px; background-position:-96px 5px;}
.uifooterlink a.uifooterlinkIcon_2:hover{background-position:-96px -45px;}
.uifooterlink a.uifooterlinkIcon_3{width:42px; background-position:-161px 5px;}
.uifooterlink a.uifooterlinkIcon_3:hover{background-position:-161px -45px;}
.uifooterlink a.uifooterlinkIcon_4{width:28px; background-position:-203px 5px;}
.uifooterlink a.uifooterlinkIcon_4:hover{background-position:-203px -45px;}

/* =================> 借款列表 <=============== */
.jiekuanList{width:100%; height:auto; margin-top:20px;}
.jiekanTitleBox{width:100%; height:36px; line-height:36px; position:relative; border-bottom:3px solid #d7d7d7;}
.jiekanTitleBox h1{width:auto; height:36px; line-height:36px;  border-bottom:3px solid #0094d9; padding-left:25px; padding-right:10px; background:url(/resources/images/jiekuanListItem.png) no-repeat left 13px; font-size:20px; color:#545454; position:absolute; display:inline-block; left:0px; border-bottom:-3px;}
.jiekanTitleBox a{width:auto; text-align:right; font-size:14px; line-height:20px; color:#929292; display:inline-block; position:absolute; right:0px; bottom:2px;}
.jiekanTitleBox a:hover{color:#666666;}
.jiekanTitleBox span{width:auto; text-align:right; font-size:14px; line-height:20px; color:#535353; display:inline-block; position:absolute; right:0px; bottom:2px;}
.jiekanTitleBox span font{color:#F00; margin:0px 3px; font-size:14px;}
table.jiekuanTable{width:100%; height:auto; border:0px;}
table.jiekuanTable thead th{font-size:14px; color:#545454; height:40px; line-height:40px; text-align:center;}
table.jiekuanTable tbody td{height:40px; line-height:2.2; text-align:center; color:#666666; border-bottom:1px solid #f3f3f3;}
table.jiekuanTable tbody td i{width:auto; height:16px; display:inline-block; margin:0px 3px; vertical-align:middle;}
table.jiekuanTable tbody td img{vertical-align:middle;}
table.jiekuanTable tfoot td{width:100%; height:40px; line-height:40px; text-align:right; vertical-align:middle; border-top:3px solid #d7d7d7;}
.ListBntOne,.ListBntTwo{width:66px; height:29px; line-height:29px; text-align:center; font-size:14px; display:inline-block; border:0px;}
.ListBntOne{background:url(/resources/images/List_Bnt_1.png) no-repeat left top; color:#ffffff; cursor:pointer;}
.ListBntTwo{background:url(/resources/images/List_Bnt_2.png) no-repeat left top; color:#666666;}


.DataLoadding{width:170px; height:15px; background:#ffc2a2; border-radius:10px; position:relative; text-align:center; line-height:15px; font-size:12px; color:#fff; z-index:1;}
.DataLoadding span{display:block; position:absolute; width:80px; height:15px; top:0px; left:0px; background:#f00;border-radius:10px; z-index:-2;}
.DataLoadding b{width:100%; font-size:13px; height:13px; line-height:13px; text-align:center; display:inline-block; color:#F17833; background:none; position:absolute; left:0px; top:0px; font-weight:normal;}



.mapLinkBox,.mapLinkBox span,.mapLinkBox a{color:#444; font-size:15px;}
.mapLinkBox{width:100%; height:40px; line-height:40px; text-indent:8px;}
.mapLinkBox span{display:inline-block;}
.mapLinkBox a{display:inline-block; margin:0px 3px;}
.mapLinkBox a:hover{color:#333;}

/* 包裹样式 */
.contwrapBox{width:1003px; height:auto; padding:8px 0px; position:relative;border: 1px solid #e0e0e0; }
.contwrap{width:1003px; height:auto; padding:5px 0px; }
.contwrapTop,.contwrapBottom{width:100%; height:8px; position:absolute; display:block; overflow:hidden; z-index:99px;}
.contwrapTop{background:url(/resources/images/List_so_a.png) no-repeat; top:0px;}
.contwrapBottom{background:url(/resources/images/List_so_c.png) no-repeat; bottom:0px;}


/*css quotes style pagination page*/

div.quotes{padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align:right;}
div.quotes a{border-right: #ddd 1px solid; padding-right: 5px; border-top: #ddd 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #ddd 1px solid; color: #aaa; margin-right: 2px; padding-top: 2px; border-bottom: #ddd 1px solid; text-decoration: none;}
div.quotes a:hover{border-right: #a0a0a0 1px solid; padding-right: 5px; border-top: #a0a0a0 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #a0a0a0 1px solid; margin-right: 2px; padding-top: 2px; border-bottom: #a0a0a0 1px solid;}
div.quotes a:active{;border-right: #a0a0a0 1px solid; padding-right: 5px; border-top: #a0a0a0 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #a0a0a0 1px solid; margin-right: 2px; padding-top: 2px; border-bottom: #a0a0a0 1px solid;}
div.quotes span.current{;border-right: #e0e0e0 1px solid; padding-right: 5px; border-top: #e0e0e0 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #e0e0e0 1px solid; color: #aaa; margin-right: 2px; padding-top: 2px; border-bottom: #e0e0e0 1px solid; background-color: #f0f0f0;}
div.quotes span.disabled{border-right: #f3f3f3 1px solid; padding-right: 5px; border-top: #f3f3f3 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #f3f3f3 1px solid; color: #ccc; margin-right: 2px; padding-top: 2px; border-bottom: #f3f3f3 1px solid;}


.tbox{width:104px; height:300px; vertical-align:middle; display:block;}
.tbox a{width:20px; height:20px; line-height:20px; text-align:center; background:#F60; color:#fff; display:block; margin-top:1px;}

/* 弹出层 */
.wrapBox{width:100%; height:100%; display:block; position:fixed; z-index:9998; background:rgba(0, 0, 0, 0.6)!important; filter:Alpha(opacity=60); background:#000; display:none; left:0px; top:0px;}
.layerBox{width:550px; height:350px; position:fixed; left:50%; margin-left:-275px; top:50%; margin-top:-175px; background:#fff; position:fixed; z-index:9999; display:none;}
.layerHeadBox{width:100%; height:47px; position:relative;}
.layerHeadBox h1{width:auto; height:47px; line-height:47px; font-size:18px; padding-left:35px; margin-left:20px; background:url(/resources/images/vipauthenticate_01.png) no-repeat left 10px; color:#fff;}
.layerClose{width:20px; height:20px; position:absolute; display:block; right:14px; top:14px; background:url(/resources/images/vipauthenticate_02.png) no-repeat;}
.layerBodyBox{width:100%; height:auto; position:relative;}
.layerBG_one .layerHeadBox{background:#ed7f42;}
.layerBG_two .layerHeadBox{background:#51abff;}
.layerBodyBox span.stepLink{width:533px; height:35px; display:block; margin:20px auto; background:url(/resources/images/Qstep.png) no-repeat; overflow:hidden;}
.layerBodyBox span.stepIocn_01{background-position:0px 0px;}
.layerBodyBox span.stepIocn_02{background-position:0px -35px;}
.layerBodyBox span.stepIocn_03{background-position:0px -70px;}
.layerBodyBox span.stepIocn_04{background-position:0px -105px;}
.layerBodyBox span.stepIocn_05{background-position:0px -140px;}
.layerBodyBox span.stepIocn_06{background-position:0px -175px;}
.welcomeBox{width:500px; height:auto; margin:20px auto;}
.smileyBox{width:84px; height:84px; display:inline-block; float:left;}
.layerBG_one .smileyBox{background:url(/resources/images/vipauthenticate_05.png) no-repeat left top;}
.layerBG_two .smileyBox{background:url(/resources/images/vipauthenticate_03.png) no-repeat left top;}
.welcomeBox p{width:400px; float:right; height:auto; line-height:1.8; font-size:14px; color:#666666;}
.welcomeBox p a{color:#ff5400; display:inline-block; margin:0px 3px;}
.authenticateBox{width:100%; height:30px; text-align:center; margin:15px auto; display:block;}
a.authenticateBnt{width:auto; height:30px; line-height:30px; text-align:center; font-size:12px; color:#fff; background:#7ab218; display:inline-block; padding:0px 15px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin:0px 15px;}
.promptBox{width:450px; height:auto; margin:10px auto;}
.promptBox span{width:32px; height:32px; float:left; background:url(/resources/images/vipsevers_03.jpg) no-repeat;}
.promptBox p{width:400px; float:right; color:#9a9a9a; line-height:1.6;}
.promptBox font{color:#ed7f42; margin:0px 3px;}
.promptBox
table.layertable{width:450px; height:auto; margin:10px auto; color:#666666;}
table.layertable th,table.layertable td{height:40px; line-height:40px; font-weight:normal;}
table.layertable th{width:120px; text-align:right;}
table.layertable td{width:auto; padding-left:2px;}
table.layertable td input{width:auto; height:24px; line-height:24px; border:1px solid #d3d3d3; color:#666666;}
table.layertable td a{display:inline-block; margin:0px 5px;}
table.layertable td select{width:160px; height:24px; line-height:24px; border:1px solid #d3d3d3; color:#666666;}

table.layertabletwo{width:450px; height:auto; margin:10px auto; color:#666666;}
table.layertabletwo th,table.layertable td{height:30px; line-height:30px; font-weight:normal;}
table.layertabletwo th{width:120px; text-align:right;}
table.layertabletwo td{width:auto; padding-left:2px;}
table.layertabletwo td input{width:auto; height:24px; line-height:24px; border:1px solid #d3d3d3; color:#666666;}
table.layertabletwo td a{display:inline-block; margin:0px 5px;}
table.layertabletwo td select{width:160px; height:24px; line-height:24px; border:1px solid #d3d3d3; color:#666666;}