/* slide */
.slide{width:980px;height:500px;overflow:hidden;margin:0 auto;background:#000;border-top:1px solid #556b3f}
.slide_box{width:244px;height:500px;overflow:hidden;position:relative;float:left;border-right:1px solid #999;cursor:pointer;background-repeat:no-repeat}
.slide_box.last{border-right-width:0}
.slide .bg1 .navbox{width:244px}
.slide #box_1{position:absolute;left:0;bottom:0}
.slide #box_1 .navtitle{width:244px;height:45px;line-height:45px;overflow:hidden;font-size:20px;text-align:center}
.slide #box_1 .navsumary{padding:10px;margin-bottom:3px;font-size:12px;line-height:26px}
.slide #box_2{position:absolute;left:0;bottom:45px}.slide #box_2 .navtitle{width:244px;height:45px;line-height:45px;overflow:hidden;font-size:20px;text-align:center}
.slide #box_2 .navsumary{padding:10px;margin-bottom:3px;font-size:12px;line-height:26px}
.slide #box_3{position:absolute;left:0;bottom:90px}
.slide #box_3 .navtitle{width:244px;height:45px;line-height:45px;overflow:hidden;font-size:20px;text-align:center}
.slide #box_3 .navsumary{padding:10px;margin-bottom:3px;font-size:12px;line-height:26px}
.slide #box_4{position:absolute;left:0;bottom:45px}
.slide #box_4 .navtitle{width:244px;height:45px;line-height:45px;overflow:hidden;font-size:20px;text-align:center}
.slide #box_4 .navsumary{padding:10px;margin-bottom:3px;font-size:12px;line-height:26px}
.slide .navbox .navsumary{color:#fff;display:none;padding:10px}
.navtitle img{display:none}
.slide .navbox .navtitle a,.slide .navbox .navtitle a:link,.slide .navbox .navtitle a:visited{color:#fff;text-decoration:none}
.slide .navbox .navtitle a:hover{color:#fff;text-decoration:underline}
.slide .navtitle,.slide .navsumary{position:relative}
.slide div.bg{position:absolute;width:100%;height:100%;z-index:1;left:0;top:0}
.slide div.txt{position:relative;z-index:2}
.slide div.bg{filter:alpha(opacity=60);opacity:.6}
.slide #box_1 div.bg{background-color:#0000cc}
.slide #box_2 div.bg{background-color:#006000}
.slide #box_3 div.bg{background-color:#c020e8}
.slide #box_4 div.bg{background-color:#b8860d}
.more{position:absolute;right:30px;top:500px;font-size:18px;color:#fff;}
.more a:link,.more a:visited{color:#fff;}
.bg1{background-image:url(../images/1.jpg)}
.bg2{background-image:url(../images/2.jpg)}
.bg3{background-image:url(../images/3.jpg)}
.bg4{background-image:url(../images/4.jpg)}

