<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">

            <list>
                <value>classpath:config/db/jdbc.properties</value>
                <value>classpath:config/user/smsInfo.properties</value>
                <value>classpath:config/user/smsInformInfo.properties</value>
                <value>classpath:config/user/emailInfo.properties</value>
                <value>classpath:config/user/baiduInfo.properties</value>
                <value>classpath:config/user/service.properties</value>
            </list>

        </property>
    </bean>

    <import resource="classpath:config/springContext/spring-db.xml"/>
    <import resource="classpath:config/springContext/spring-service.xml"/>
    <!--<import resource="classpath:config/springContext/spring-quartz.xml"/>-->
    <import resource="classpath:config/springContext/spring-aop.xml"/>

    <context:component-scan base-package="/">
        <context:include-filter type="regex"
                                expression="config.excel.*"/>
        <context:include-filter type="regex"
                                expression="com.feicuidai.base.service.*"/>
        <context:include-filter type="regex"
                                expression="com.feicuidai.base.controller.*"/>
        <context:include-filter type="regex"
                                expression="com.feicuidai.p2p.service.*"/>
        <context:include-filter type="regex"
                                expression="com.feicuidai.p2p.controller.*"/>
        <context:include-filter type="regex"
                                expression="com.feicuidai.p2p.pay.payservice.*"/>
    </context:component-scan>

    <!-- <mvc:annotation-driven /> -->
    <aop:aspectj-autoproxy/>

    <!-- <mvc:interceptors> <bean class="com.feicuidai.base.interceptor.VenomRequestInterceptor"
        /> </mvc:interceptors> -->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/**"/>
            <bean class="com.feicuidai.base.interceptor.UserResourcesRequestInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 动态视图解析器配置 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 上传文件大小、缓存、编码 配置 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

    <!-- 静态资源访问路径 -->
    <mvc:resources location="/resource/" mapping="/resource/**"/>
    <mvc:resources location="/resources/" mapping="/resources/**"/>
    <mvc:resources location="/upload/user/" mapping="/user/**"/>
    <mvc:resources location="/upload/" mapping="/upload/**"/>

    <!-- Controller返回json数据配置 -->
    <bean
            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean
                        class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
                <bean
                        class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain; charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>


    <!-- 登录拦截器 -->
    <bean id="urlMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="com.feicuidai.base.interceptor.CheckLoginInterceptor"/>
            </list>
        </property>
    </bean>

</beans>
