<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userUnLoginException" class="com.feicuidai.base.exception.SimpleResponseException">
        <constructor-arg index="0" value="/visitor/to-login"/>
        <constructor-arg index="1" value="请先登录后，执行操作!"/>
        <property name="attr" value="user_error"/>
        <property name="val" value="请先登录后，执行操作!"/>
        <property name="json" value='[-404,"请先登录后，执行操作!"]'/>
        <property name="ajaxView" ref="ajaxResponseView"/>
        <property name="urlView" ref="urlResponseView"/>
    </bean>

    <bean id="responseExceptionFactory" class="com.feicuidai.base.exception.ResponseExceptionFactory">
        <property name="url" value="/error-500.jsp"/>
        <property name="attr" value="msg"/>
        <property name="val" value="您请求的方式非法!"/>
        <property name="ajaxView" ref="ajaxResponseView"/>
        <property name="urlView" ref="urlResponseView"/>
    </bean>

    <bean id="checkLoginAspect" class="com.feicuidai.base.aspect.CheckLoginAspect">
        <constructor-arg index="0" value="session_user"/>
        <constructor-arg index="1" value="com.feicuidai.p2p.entity.UserBasicsInfo"/>
        <constructor-arg index="2" ref="userUnLoginException"/>
    </bean>

    <aop:config>
        <aop:pointcut id="bussinessService"
                      expression="(execution(* com.feicuidai.base.service.*.*(..)) or execution(* com.feicuidai.p2p.service.*.*(..)) or execution(* com.feicuidai.p2p.admin.spring.service.*.*(..)) or execution(* com.feicuidai.p2p.admin.spring.service.*.*.*(..)) or execution(* com.feicuidai.p2p.core.service.*.*(..))) or execution(* com.feicuidai.p2p.service.borrow.*.*(..)))"/>
        <aop:advisor pointcut-ref="bussinessService" advice-ref="txAdvice"/>
        <aop:aspect id="aspectCheckLogin" ref="checkLoginAspect">
            <aop:pointcut id="pointLogin" expression="@annotation(com.feicuidai.base.annotation.LoginedUser)"/>
            <aop:before method="executeBefore" pointcut-ref="pointLogin" arg-names="login"/>
        </aop:aspect>
    </aop:config>

    <!-- 安全中心拦截器 -->
    <bean id="fundsSafeInterceptor" class="com.feicuidai.base.interceptor.FundsSafeInterceptor"></bean>
    <aop:config>
        <!--切入点-->
        <aop:pointcut id="checkFundsSafePoint"
                      expression="@annotation(com.feicuidai.p2p.annotation.CheckFundsSafe)"/>
        <!--在该切入点使用自定义拦截器-->
        <aop:advisor advice-ref="fundsSafeInterceptor" pointcut-ref="checkFundsSafePoint"/>
    </aop:config>
    
    <!-- 手机登录微官网拦截器-->
    <bean id="checkPhoneLoginInterceptor" class="com.feicuidai.base.interceptor.CheckPhoneLoginInterceptor"></bean>
    <aop:config>
        <!--切入点-->
        <aop:pointcut id="checkPhoneLoginPoint"
                      expression="@annotation(com.feicuidai.p2p.annotation.CheckPhoneLogin)"/>
        <!--在该切入点使用自定义拦截器-->
        <aop:advisor advice-ref="checkPhoneLoginInterceptor" pointcut-ref="checkPhoneLoginPoint"/>
    </aop:config>
</beans>
