@charset "utf-8";

.content_interception {
	display: block;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin:auto;
}

td {
	font-weight: normal;
}